body{
  margin:0;
  padding: 0;
  background-color: lemonchiffon;
}
li{
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  list-style-type: none;
}
.container{
  width: 500px;
  margin: auto;
  text-align: center;
}

